/* --- STYLES FOR ALL PAGES --- */
body {
  /* Typography */

  font-family:  'Roboto', sans-serif;
  background-color: #222629
  ;

  /* #101820ff */
}

html {
  /* Positioning */
  position: relative;

  /* Box-model */
  min-height: 100%;
}

/* add space for fixed nav */
main {
  margin: 80px 0;
}

/* create styles for use for all white main boxes */
.block {
  background-color: #fff;

  padding: 30px;
  margin-bottom: 30px;
}

.block-header {
  /* Typography */
  color: #4aaaa5;
  font-family:  'Roboto', sans-serif;
  font-weight: bold;
}

/* NAV START */
#logo {
  font-family: 'Roboto', sans-serif;

  /* Typography */
  font-size: 30px;
  font-weight: bold;
  color: ivory;

  /* Visual */
  background: black;
  padding: 10px;
}

/* override bootstrap hover color and border */
.navbar-default .navbar-nav > li > a:hover {
  color: #4aaaa5;
}

#topnavbar {
  background-color: black
}

.nav-link {
  font-size: 28px;
  color:ivory
}


/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #e8a87c;
  }
}
/* END NAV */

.block-header{
  color: #86c232;;
}


/* CONNECT W/ ME CSS */
.connect-header {
  /* Typography */
  font-size: 100px;
}

.connect-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}
/* END CONNECT W/ ME */


/* BEGIN FOOTER */
.footer {
  /* Positioning */
  position: absolute;
  bottom: 0;

  /* Box-model */
  width: 100%;
  height: 60px;

  /* Visual */
  background-color: rgb(37, 36, 36) ;
}

.text-muted-footer {
  /* Box-model */
  margin-top: 15px;

  /* Typography */
  color: white;
}

.two-toned-footer-color {
  /* Box-model */
  height: 6px;
  padding-top: 3px;

  /* Visual */
  background-color: #2b2728;
}
/* END FOOTER */
/* --- END STYLES FOR ALL PAGES --- */

/* --- PAGE-SPECIFIC STYLES --- */
/* ABOUT-ME PAGE */
.about-me-header {
  /* Positioning */
  margin-bottom: 33px;
  font-family: Georgia, Times, "Times New Roman", serif;

  /* Typography */
  font-size: 40px;
  font-weight: bold;
  color: #4aaaa5;
}

#about-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  margin: 0 20px 10px 0;
}
/* END ABOUT-ME PAGE */


/* PORTFOLIO PAGE */
.port-image {
  margin: 20px auto;
}
/* END PORTFOLIO PAGE */


/* CONTACT FORM PAGE  */
.form-control {
  /* give input boxes right angles */
  border-radius: 0;

  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
}

.submit-btn {
  /* Box-model */
  padding: 15px 30px;
  font-size: 16px;
  font-weight: lighter;

  /* Typography */
  color: #fff;

  /* Visual */
  background-color: #61892F;
  border: 0;
}

.submit-btn:hover {
  opacity: .7;
}

.contact-title {
  font-size: 32px;
  color: #86c232;
}

.contact-info-text {
  font-size: 22px;
  color: gray;
}

/* END CONTACT FORM PAGE */

.col-circle {

  max-width: 100px;
  height: 100px;
  border-radius:50%;
  background-color: rgb(185, 179, 179);
  margin: 5px;
}
.carousel-title{
  color: white;
}

#form-contact {
  background-color: #474b4f;
}